<footer>
    <section class="item footer__logo">
        <div>
            <span class="fa-solid fa-diamond"></span>
            <span class="logo__store__footer">{{ "store" | upcase }}</span>
        </div>

        <p class="info__contact">© <span id="year"></span>, shuffle.store operated by <br> studio plaid. need help? <br> email support@shuffle.store</p>
    </section>

    <section class="links__footer item">
        <nav>
            <article class="link__primary">
                {% for link in settings['footer'].settings.links limit:4 %}
                    <a href="#{{ link.url}}">{{ link.label | upcase }}</a>
                {% endfor %}
            </article>
                
            <article class="link__secundary">
                {% for link in settings['footer'].settings.links offset:4 %}
                    <a href="#{{ link.url}}">{{ link.label | upcase }}</a>
                {% endfor %}
            </article>
        </nav>

        <ul class="payment__list__footer">
            <p>we accept all major cards, paypal & crypto</p>
            <li class="fa-brands fa-bitcoin"></li>
            <li class="fa-brands fa-ethereum"></li>
            <li class="fa-solid fa-litecoin-sign"></li>
            <li class="fa-solid fa-d"></li>
            <li class="fa-solid fa-dollar-sign"></li>
        </ul>
    </section>

    <section class="item">
        <p class="text__subscribe">Subscribe and receive drop notifications</p>

        <form class="input__container">
            <input type="email" name="email" placeholder="enter email" required>
            <span class="arrow">→</span>
        </form>

        <div class="social__links">
            <a href="https://facebook.com" target="_blank">Facebook</a>
            <a href="https://twitter.com" target="_blank">X (Twitter)</a>
            <a href="https://instagram.com" target="_blank">Instagram</a>
        </div>
    </section>
</footer>