<section class="hero__banner" style="background-image: url('/assets/{{ settings['hero-banner'].settings.background_image }}');">
    <a class="btn__hero__banner" href="{{ settings['hero-banner'].settings.button_link }}">{{ settings['hero-banner'].settings.button_text | upcase }}</a>
</section>

<section class="hero__banner__marquee">
    <div class="hero__marquee__content">
        <p>
            {{ settings['hero-banner'].settings.marquee_text }} <span class="fa-solid fa-diamond"></span> 
            {{ settings['hero-banner'].settings.marquee_text }} <span class="fa-solid fa-diamond"></span>
            {{ settings['hero-banner'].settings.marquee_text }} <span class="fa-solid fa-diamond"></span>
            {{ settings['hero-banner'].settings.marquee_text }} <span class="fa-solid fa-diamond"></span>
            {{ settings['hero-banner'].settings.marquee_text }} <span class="fa-solid fa-diamond"></span>
            {{ settings['hero-banner'].settings.marquee_text }} <span class="fa-solid fa-diamond"></span>
            {{ settings['hero-banner'].settings.marquee_text }} <span class="fa-solid fa-diamond"></span>
            {{ settings['hero-banner'].settings.marquee_text }} <span class="fa-solid fa-diamond"></span>
            {{ settings['hero-banner'].settings.marquee_text }} <span class="fa-solid fa-diamond"></span>
        </p>
    </div>
</section>