<section class="top__bar">
    <div class="marquee">
        <div class="marquee__content">
            <p>
                {{ settings['featured-products'].settings.marquee_text }} <span class="fa-solid fa-diamond"></span> 
                {{ settings['featured-products'].settings.marquee_text }} <span class="fa-solid fa-diamond"></span>
                {{ settings['featured-products'].settings.marquee_text }} <span class="fa-solid fa-diamond"></span>
                {{ settings['featured-products'].settings.marquee_text }} <span class="fa-solid fa-diamond"></span>
                {{ settings['featured-products'].settings.marquee_text }} <span class="fa-solid fa-diamond"></span>
            </p>
        </div>
        <div class="marquee__content">
            <p>
                {{ settings['featured-products'].settings.marquee_text }} <span class="fa-solid fa-diamond"></span>
                {{ settings['featured-products'].settings.marquee_text }} <span class="fa-solid fa-diamond"></span>
                {{ settings['featured-products'].settings.marquee_text }} <span class="fa-solid fa-diamond"></span>
                {{ settings['featured-products'].settings.marquee_text }} <span class="fa-solid fa-diamond"></span>
                {{ settings['featured-products'].settings.marquee_text }} <span class="fa-solid fa-diamond"></span>
            </p>
        </div>
    </div>
</section>
